/* #experience{
    margin-left: 1rem;
    margin-right: 1rem;
} */
.experience__categories {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.btn.cat__btn {
    text-transform: capitalize;
    transition: var(--transition);
    /* my style */
    margin-bottom: 3rem;
}

.btn.cat__btn:hover {
    transform: translateY(0);
}

.dark-text {
    color: black;
}
.light-text{
    color: rgb(180, 173, 173);
}
.list{
    padding-left: 20px;
}
.list-item{
    list-style-type: disc;
    
}