.experience__categories {
    display: flex;
    justify-content: center;
    gap: 1.5rem;
    flex-wrap: wrap;
}

.btn.cat__btn {
    text-transform: capitalize;
    transition: var(--transition);
    /* my style */
    margin-bottom: 3rem;
}

.btn.cat__btn:hover {
    transform: translateY(0);
}